<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<Printer name ="Fab@Home Model 2" formatVersion="1.0">
  <gantry>
    <!--Unit of distance is mm for all values.-->
    <axis name="X">
      <actuatorID>0</actuatorID><!--The ID of the motor that controls this bay or blank if no motor controls this bay.-->
      <revolutionsPerDistance unit ="mm"> 200</revolutionsPerDistance><!-- The revolutions per distance unit of the axis-->

    </axis>
    <axis name="Y">
      <actuatorID>1</actuatorID>
      <revolutionsPerDistance unit ="mm"> 200</revolutionsPerDistance>
    </axis>
    <axis name="Z">
      <actuatorID>2</actuatorID>
      <revolutionsPerDistance unit ="mm"> 200</revolutionsPerDistance>
    </axis>
  </gantry>
	
	
  <tool name="Displacement Extruder">
    <bay>
      <id>0</id><!-- use ID # rather than string-->
      <volume units="mm^3">10</volume><!--maximum volume of the tool, 0 = infinite-->
      <flow>continuous</flow><!-- either either contiuous or binary-->
      <actuation>
        <method>displacement</method>
        <!-- either displacement or descrete-->
        <revolutionsPerVolume unit="mm^3">1.0</revolutionsPerVolume>
        <!-- Use this to find mm^3/distance-->
        <actuatorID>3</actuatorID>
        <!--The ID of the motor that controls this bay or blank if no motor controls this bay.-->
        <script type="text/javascript">
          <![CDATA[
          function extrude(volume){
              var Motor = VirtualMachine.getMotorFromID(3);
              var revolutionsPerVol = 1.0;
              Motor.moveRelative(revolutionsPerVol*volume);
          }
          ]]>
        </script>
      </actuation>

      <location>
        <x>0</x>
        <y>0</y>
        <z>0</z>
      </location>
    </bay>
  </tool>
  <!-- This is what a discrete state tool would look like-->
  <tool name ="Valve">
      <bay>
        <id>1</id>
        <flow>continuous</flow>
        <volume units="mm^3">10</volume>
        <actuation>
          <method>descrite</method>
          <degreesPerState>90</degreesPerState>
          <actuatorID>3</actuatorID>
          <![CDATA[
          function extrude(volume){????????
              var Motor = VirtualMachine.getMotorFromID(3);
              var revolutionsPerVol = 1.0;
              Motor.moveRelative(revolutionsPerVol*volume);
          }
          ]]>
        </actuation>

        <location>
          <x>0</x>
          <y>0</y>
          <z>0</z>
        </location>
      </bay>
  </tool><!-- test-->
	
	
  <motion>
    <!--DELETE THIS AND MOVE INTO COOLDOWN Distance that platform moves downwards when pause, cancel, or complete print.-->
    <!--<platformDelta>40</platformDelta>-->
    <!--DELETE THIS AND ROLE IT INTO THE CODE Magic constant from line 58 of FabAtHomeParameters.h in model 1 code.  Used to calculate values for pushout and suckback.-->
    <!--<oldMsps>5000</oldMsps>-->
    <warmUp></warmUp>
    <!--this should be the script of either XDFL or GCODE run at first conneciton-->
    <coolDown>
      <!--this should be the script of either XDFL or GCODE run at the end of a print-->
      <script type="XDFL">
        <![CDATA[<path coordinates="rel"><point><x>0</x><y>0</y><z>-20</z></point></path>]]>
      </script>
    </coolDown>

  </motion>
	
	
  <electronics>
    <controler>
      <!--Number of modules that are connected to printer.-->
      <numModules>4</numModules>
      <!--COM port that printer is connected to.-->
      <comPort>4</comPort>
      <!--Baud rate.-->
      <baudRate>19200</baudRate>
      <!--Group address of motors that control axes.-->
      <xyzGroupAddress>128</xyzGroupAddress>
	  <printAcceleration>100</printAcceleration>
    </controler>
    <actuator>
		<id>0</id>
		<type>DC/Encoder</type>
		<!--Address of the motor.-->
		<address>1</address>
		<!--Direction of the motor. if zero the motor is positive clockwise. if !=0 the motor is positive counter-clockwise-->
		<reverse>0</reverse>
		<!--Counts to move one unit of distance.-->
		<countsPerRevolution>236.239</countsPerRevolution>
		<!--Kp value of motor gains.-->
		<kp>2200</kp>
		<!--Kd value of motor gains.-->
		<kd>30000</kd>
		<!--Ki value of motor gains.-->
		<ki>0</ki>
		<!--IL value of motor gains.-->
		<il>16000</il>
		<!--OL value of motor gains.-->
		<ol>255</ol>
		<!--CL value of motor gains.-->
		<cl>0</cl>
		<!--EL value of motor gains.-->
		<el>32767</el>
		<!--SR value of motor gains.-->
		<sr>1</sr>
		<!--DB value of motor gains.-->
		<db>0</db>
		<!--Ticks per second.-->
		<ticksPerSecond>1953.125</ticksPerSecond>
		<!-- What does this mean???-->
    </actuator>
    <actuator>
		<id>1</id>
		<!--Address of the motor.-->
		<address>2</address>
		<type>DC/Encoder</type>
		<!--Counts to move one unit of distance.-->
		<countsPerRevolution>236.239</countsPerRevolution>
		<!--Kp value of motor gains.-->
		<kp>1200</kp>
		<!--Kd value of motor gains.-->
		<kd>23000</kd>
		<!--Ki value of motor gains.-->
		<ki>0</ki>
		<!--IL value of motor gains.-->
		<il>16000</il>
		<!--OL value of motor gains.-->
		<ol>255</ol>
		<!--CL value of motor gains.-->
		<cl>0</cl>
		<!--EL value of motor gains.-->
		<el>32767</el>
		<!--SR value of motor gains.-->
		<sr>1</sr>
		<!--DB value of motor gains.-->
		<db>0</db>
		<!--Ticks per second.-->
		<ticksPerSecond>1953.125</ticksPerSecond>
	</actuator>
	<actuator>
		<id>2</id>
		<!--Address of the motor.-->
		<address>3</address>
		<type>DC/Encoder</type>
		<!--Counts to move one unit of distance.-->
		<countsPerRevolution>236.239</countsPerRevolution>
		<!--Kp value of motor gains.-->
		<kp>1000</kp>
		<!--Kd value of motor gains.-->
		<kd>20000</kd>
		<!--Ki value of motor gains.-->
		<ki>0</ki>
		<!--IL value of motor gains.-->
		<il>16000</il>
		<!--OL value of motor gains.-->
		<ol>255</ol>
		<!--CL value of motor gains.-->
		<cl>0</cl>
		<!--EL value of motor gains.-->
		<el>32767</el>
		<!--SR value of motor gains.-->
		<sr>1</sr>
		<!--DB value of motor gains.-->
		<db>0</db>
		<!--Ticks per second.-->
		<ticksPerSecond>1953.125</ticksPerSecond>
    </actuator>
    <actuator>
		<id>3</id>
		<!--Address of the motor.-->
		<address>4</address>
		<type>DC/Encoder</type>
		<!--Counts to move one unit of distance.-->
		<countsPerRevolution>236.239</countsPerRevolution>
		<!--Kp value of motor gains.-->
		<kp>1800</kp>
		<!--Kd value of motor gains.-->
		<kd>16000</kd>
		<!--Ki value of motor gains.-->
		<ki>0</ki>
		<!--IL value of motor gains.-->
		<il>0</il>
		<!--OL value of motor gains.-->
		<ol>255</ol>
		<!--CL value of motor gains.-->
		<cl>0</cl>
		<!--EL value of motor gains.-->
		<el>32767</el>
		<!--SR value of motor gains.-->
		<sr>1</sr>
		<!--DB value of motor gains.-->
		<db>0</db>
		<!--Ticks per second.-->
		<ticksPerSecond>1953.125</ticksPerSecond>
    </actuator>
  </electronics>
</Printer>